{% extends 'partials/base.html' %}
{% block title %} Password Reset Page {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Password Reset Done</h3>
                    <hr>
                    <div class="alert alert-info">
                        <h4>A mail has been sent to your provided mail address.</h4>
                    </div>
                    <a href="{% url 'user-login' %}">Login</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}